/*!
 * PHPEasyTemplate
 * Version: 1.0
 * File: phpeasytemplate.css
 *
 * Author: Clement GUICHARD <clement.guichard1@etu.univ-orleans.fr>
 *
 */

 /*
  Warning! the var() utilities doesn't work on internet explorer, don't use it
  if you want your website to work on it
 */

/* ====================== ALL ====================== */

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}

body {
  font-family: 'Montserrat', sans-serif !important;
  overflow-wrap: break-word;
}

/* ====================== HEADER ====================== */

header h1 strong {
  font-size: 1.6em;
  color: white;
}
@media (max-width: 1000px) {
  header h1 strong {
    font-size: 1em;
  }
}
@media (max-width: 800px) {
  header h1 strong {
    font-size: 0.8em;
  }
}
@media (max-width: 650px) {
  header h1 strong {
    font-size: 0.65em;
  }
}
@media (max-width: 500px) {
  header h1 strong {
    font-size: 0.5em;
  }
}

#header-block, .navbar {
  background-color: #052a3c;
}

.navbar {
  z-index: 20;
}

.navbar li {
  font-size: 1.2em;
}
@media (max-width: 1200px) {
  .navbar li {
    font-size: 1em;
  }
}
@media (max-width: 992px) {
  .navbar .navbar-nav {
    display: block;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}

.navbar .active {
  /* border: solid 2px #07354b; */
  /* border-top: solid 2px white; */
  /* border-bottom: solid 2px white; */
  background-color: #0a4b6a;
}

.nav-link {
  border-color: #052a3c;
  border-color: none;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
}
.nav-link:hover {
  border-color: white;
  color: white !important;
}
.navbarbtn {
  /* box-shadow: 3px 3px 10px black !important; */
}
.navbarbtn:hover {
  color: #052a3c !important;
  background-color: white;
}

.navbar .dropdown-menu {
  border-left: solid #052a3c 5px;
}

.navbar .dropdown-menu .dropdown-item:hover {
  color: white;
  background-color: rgba(5, 25, 34, 0.9);
}

/* ====================== PAGE ====================== */

.section {
  color: rgb(10, 75, 106) !important;
  padding: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.blue-section {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(5, 61, 87) !important;
}

.white-section {
  color: rgb(98, 100, 105) !important;
  background-color: rgb(255, 255, 255) !important;
}

.section > .h1 {
  font-size: 3em;
  margin-bottom: 6vh;
}

#top-arrow {
  position: fixed;
  bottom: 10px;
  right:10px;
  background-color: #052a3c;
  border-style: solid;
  border-width: 2px;
  border-color: #052a3c;
  color: white;
  z-index: 10;
}
#top-arrow:hover {
  background-color: white;
  color: #052a3c;
}

/* ====================== FOOTER ====================== */

.page-footer .list-group-item {
  background-color: #052a3c !important;
}

.page-footer {
  background-color: #052a3c;
}

.footer-copyright {
  background-color: #051923 !important;
}

/* ====================== CARD ====================== */

.card {
  z-index: 1 !important;
}
.card-rounded {
  border-radius: 50px !important;
}

#card-profile {
  border: 3px solid #052a3c;
}
#card-profile .card-header{
  background-color: #052a3c;
  color: white;
}


/* ====================== OTHER ====================== */

.btn-round {
  padding: 10px;
  display: inline-block;
  border-radius: 50%;
}

.btn-rounded {
  border-radius: 50px;
}

.btn-color-1 {
  background-color: #0a4b6a;
}

.paragraph {
  text-indent: 5vw;
}

.text-right {
  text-indent: 0;
  direction: rtl;
}

/* ====================== PARALLAX ====================== */

.section-parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.blue-parallax {
  color: rgb(255, 255, 255) !important;
  background-color: rgba(5, 42, 60, 0.95) !important;
}

.light-blue-parallax {
  color: rgb(255, 255, 255) !important;
  background-color: rgba(5, 61, 87, 0.90) !important;
}

.white-parallax {
  color: rgb(98, 100, 105) !important;
  background-color: rgba(255, 255, 255, 0.80) !important;
}
